/* Misc */

div.header_title.error {
	font-size: 27px;
	color: var(--red);
}

.data_grid div.td_drag_handle > div.checkbox_container {
	top: 4px;
}

tr.tr_event_category td {
	padding-top: 10px;
	font-size: 14px;
	/* font-weight: bold; */
	font-style: italic;
	/* border-bottom: none; */
	color: var(--icon-color);
	cursor: default;
}
ul.tr_event_category div {
	padding-top: 15px;
	padding-bottom: 2px;
	font-size: 14px;
	/* font-weight: bold; */
	font-style: italic;
	/* border-bottom: none; */
	color: var(--theme-color);
	cursor: pointer;
}
ul.tr_event_category.collapsed div {
	color: var(--label-color);
}

div.td_big {
	color: var(--label-color);
}

.wrap_mobile {
	white-space: nowrap;
}

.fr_content .checkbox_container label i {
	text-indent: 0;
}

.wrap {
	white-space: normal;
}
.nowrap {
	white-space: nowrap;
}

.nowrap i.mdi {
	padding-right: 5px !important;
}

.dialog.inline {
	margin-top: 60px;
	margin-bottom: 60px;
}

.section_item {
	padding-left: 37px;
}
.section_item.filtered {
	color: var(--icon-color);
}

.multiselect > .item {
	font-size: 13px;
}

.form_row.single {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "b";
	grid-column-gap: 20px;
	margin-bottom: 15px;
}

#fe_header_search:placeholder-shown {
	text-overflow: ellipsis;
}

.data_table tr.disabled td {
	opacity: 0.6;
}

.dialog_box_content {
	font-size: 13px;
	margin: 30px;
	/* width: 500px; */
	/* padding-bottom: 15px; */
}
.dialog_box_content.scroll {
	max-height: 75vh;
	overflow-x: hidden; 
	overflow-y: auto;
}

.dialog_box_content.maximize .form_row {
	/* width: 400px; */
	margin-bottom: 18px;
}

.dialog_box_content.maximize .form_row {
	grid-template-columns: 1fr !important;
	
	grid-template-areas:
		"a"
		"b"
		"d";
	
	grid-column-gap: 20px;
	grid-row-gap: 4px;
}
.dialog_box_content.maximize .form_row > div.fr_label {
	justify-self: start;
	margin-top: 3px;
	margin-bottom: 2px;
}
.dialog_box_content.maximize .form_row > div.fr_suffix {
	display: none;
}
.dialog_box_content.maximize .form_row > div.fr_caption {
	margin-top: 3px;
}

.dialog_intro {
	/* width: 560px; */
	margin-top: 6px;
	font-size: 13px;
	color: var(--label-color);
}
.dialog.inline > .dialog_intro {
	width: 100%;
}

.table_menu_container {
	position: relative;
	text-align: center;
	line-height: 21px;
	font-size: 13px;
	
	width: 100%;
	height: 21px;
	
	/* background-color: rgba(255, 0, 0, 0.1); */
}

.table_menu_container select {
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	
	width: 100%;
	height: 21px;
	opacity: 0;
}
.table_menu_container select:hover ~ i {
	color: var(--theme-color);
}

.table_menu_container i {
	width: 21px;
	height: 21px;
}

.data_grid > ul.grid_row > div {
	background-color: transparent;
	transition: 0.5s ease background-color;
}

.data_grid > ul.grid_row:has(div:hover) > div {
	background: var(--theme-color-naught-seven);
}
.data_grid > ul.grid_row:has(div:active) > div {
	background: transparent !important;
}

.data_grid > ul.grid_row.warning > div {
	background: color-mix(in srgb, #FFFF00 20%, transparent) !important;
}
.data_grid > ul.grid_row.error > div {
	background: color-mix(in srgb, var(--red) 20%, transparent) !important;
}

.data_grid > ul.grid_row > div > code {
	font-size: 12px;
}

.fr_content .text_field_icon {
	position: absolute;
	z-index: 2;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	left: 100%;
	top: 50%;
	margin-left: -24px;
	margin-top: -10px;
	text-align: center;
	font-size: 17px;
	cursor: pointer;
	color: var(--label-color);
}
.fr_content .text_field_icon:hover {
	color: var(--theme-color);
}
.fr_content:has(.text_field_icon) > input {
	padding-right: 24px;
}
.fr_content:has(.text_field_icon) > textarea {
	padding-right: 24px;
}

.form_result {
	line-height: 20px;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 4px;
	border: 1px solid var(--border-color);
	font-size: 13px;
	color: var(--body-text-color);
	background: var(--form-background-color);
}
.dialog_content .form_result {
	background: var(--box-background-color);
}
body.dark .dialog_content .form_result {
	background: var(--form-background-color);
}
.form_result i.mdi:before {
	transform: scale(1.30);
}
.form_result i {
	padding-right: 5px;
}

.form_result.success {
	color: var(--green) !important;
}
.form_result.fail {
	color: var(--gray) !important;
}
.form_result.triggered {
	color: var(--red) !important;
}
.form_result.invalid {
	color: var(--red) !important;
}
